USE [master]
GO

IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SouvenirShop')
    DROP DATABASE [SouvenirShop]
GO

CREATE DATABASE [SouvenirShop]
GO

USE [SouvenirShop]
GO

CREATE TABLE [dbo].[Categories](
    [CategoryId] [int] IDENTITY(1,1) NOT NULL,
    [CategoryName] [nvarchar](50) NOT NULL,
    [Description] [nvarchar](200) NULL,
    PRIMARY KEY ([CategoryId])
)
GO

CREATE TABLE [dbo].[Users](
    [UserId] [int] IDENTITY(1,1) NOT NULL,
    [Username] [nvarchar](50) NOT NULL,
    [Password] [nvarchar](50) NOT NULL,
    [Email] [nvarchar](100) NULL,
    [FirstName] [nvarchar](50) NULL,
    [LastName] [nvarchar](50) NULL,
    [RegistrationDate] [datetime] NULL,
    PRIMARY KEY ([UserId])
)
GO

CREATE TABLE [dbo].[Customers](
    [CustomerId] [int] IDENTITY(1,1) NOT NULL,
    [FirstName] [nvarchar](50) NOT NULL,
    [LastName] [nvarchar](50) NOT NULL,
    [Email] [nvarchar](100) NULL,
    [Phone] [nvarchar](20) NULL,
    [RegistrationDate] [datetime] NULL,
    PRIMARY KEY ([CustomerId])
)
GO

CREATE TABLE [dbo].[Souvenirs](
    [SouvenirId] [int] IDENTITY(1,1) NOT NULL,
    [Name] [nvarchar](100) NOT NULL,
    [Description] [nvarchar](200) NULL,
    [Price] [decimal](10, 2) NOT NULL,
    [StockQuantity] [int] NOT NULL,
    [CategoryId] [int] NULL,
    [ImageUrl] [nvarchar](200) NULL,
    PRIMARY KEY ([SouvenirId])
)
GO

CREATE TABLE [dbo].[Orders](
    [OrderId] [int] IDENTITY(1,1) NOT NULL,
    [CustomerId] [int] NULL,
    [OrderDate] [datetime] NULL,
    [TotalAmount] [decimal](10, 2) NOT NULL,
    [Status] [nvarchar](20) NULL,
    [Notes] [nvarchar](200) NULL,
    [PaymentMethod] [nvarchar](20) NULL,
    PRIMARY KEY ([OrderId])
)
GO

CREATE TABLE [dbo].[OrderItems](
    [OrderItemId] [int] IDENTITY(1,1) NOT NULL,
    [OrderId] [int] NULL,
    [SouvenirId] [int] NULL,
    [Quantity] [int] NOT NULL,
    [UnitPrice] [decimal](10, 2) NOT NULL,
    PRIMARY KEY ([OrderItemId])
)
GO

-- Явно добавляем внешние ключи
ALTER TABLE [dbo].[Souvenirs] 
ADD CONSTRAINT [FK_Souvenirs_Categories] 
FOREIGN KEY ([CategoryId]) REFERENCES [dbo].[Categories] ([CategoryId])
GO

ALTER TABLE [dbo].[Orders] 
ADD CONSTRAINT [FK_Orders_Customers] 
FOREIGN KEY ([CustomerId]) REFERENCES [dbo].[Customers] ([CustomerId])
GO

ALTER TABLE [dbo].[OrderItems] 
ADD CONSTRAINT [FK_OrderItems_Orders] 
FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders] ([OrderId])
GO

ALTER TABLE [dbo].[OrderItems] 
ADD CONSTRAINT [FK_OrderItems_Souvenirs] 
FOREIGN KEY ([SouvenirId]) REFERENCES [dbo].[Souvenirs] ([SouvenirId])
GO

-- Добавляем значения по умолчанию
ALTER TABLE [dbo].[Customers] ADD DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Orders] ADD DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD DEFAULT ('В ожидании') FOR [Status]
GO
ALTER TABLE [dbo].[Souvenirs] ADD DEFAULT ((0)) FOR [StockQuantity]
GO

-- Вставляем тестовые данные
INSERT INTO [Categories] ([CategoryName], [Description]) VALUES 
('Магниты', 'Сувенирные магниты на холодильник'),
('Кружки', 'Памятные кружки с символикой'),
('Футболки', 'Футболки с принтами'),
('Брелоки', 'Брелоки для ключей'),
('Открытки', 'Поздравительные открытки')

INSERT INTO [Souvenirs] ([Name], [Description], [Price], [StockQuantity], [CategoryId]) VALUES 
('Магнит "Город"', 'Магнит с видом города', 150.00, 50, 1),
('Магнит "Память"', 'Магнит с памятной надписью', 120.00, 30, 1),
('Кружка "Память"', 'Керамическая кружка', 300.00, 30, 2),
('Кружка "Сувенир"', 'Стеклянная кружка', 250.00, 25, 2),
('Футболка "Сувенир"', 'Хлопковая футболка', 500.00, 20, 3),
('Футболка "Город"', 'Футболка с гербом города', 550.00, 15, 3),
('Брелок "Сердце"', 'Металлический брелок', 100.00, 100, 4),
('Брелок "Звезда"', 'Серебряный брелок', 150.00, 80, 4)

INSERT INTO [Users] ([Username], [Password], [Email], [FirstName], [LastName], [RegistrationDate]) VALUES 
('admin', 'admin123', 'admin@shop.com', 'Admin', 'User', GETDATE()),
('user1', 'user123', 'user1@mail.com', 'Иван', 'Петров', GETDATE())
GO